
DimaProjectForEducation.xcodeproj/project.xcworkspace/xcuserdata/dmitryvdovenko.xcuserdatad/UserInterfaceState.xcuserstate

DimaProjectForEducation.xcodeproj/xcuserdata/dmitryvdovenko.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

DimaProjectForEducation.xcodeproj/xcuserdata/dmitryvdovenko.xcuserdatad/xcschemes/xcschememanagement.plist


DimaProjectForEducation.xcodeproj/project.xcworkspace/xcuserdata/dnemercev.xcuserdatad/UserInterfaceState.xcuserstate
